<header class='header'>
  
    <div class="header__top">
       <app-toggle></app-toggle>
       <h4 class='header__top-title'>Обучение</h4>
        <app-custom-button class='header__top-btn btn-full'>
          <img alt='plus' src='/assets/images/icon.svg'/>
          <span>Запланировать</span>
        </app-custom-button>
        <app-custom-button class='header__top-btn btn-short'>
          <img alt='plus' src='/assets/images/icon.svg'/>
        </app-custom-button>
    </div>
    <div class="container">
      <div class="header__body">
        <div class="header__breadcrumb">Главная &nbsp; — &nbsp; Планирование</div>
        <h1 class="header__title">Планирование</h1>
      </div>
    </div>

    
</header>