// Variables
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$color-primary: #1071FF;
$color-primary-lines-gray: rgba(0, 0, 0, .08);
$color-light-theme-primary: rgba(0, 0, 0, .87);
$color-light-theme-secondary: rgba(0, 0, 0, .54);

$transition: .2s;

$breakpoint-xs-min: 0;
$breakpoint-xs-max: $breakpoint-xs-min - 1px;
$breakpoint-sm-min: 576px;
$breakpoint-sm-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-md-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-lg-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-xl-max: $breakpoint-xl-min - 1px;
$breakpoint-xx-min: 1400px;
$breakpoint-xx-max: $breakpoint-xx-min - 1px;
// Variables
